.main {
  margin: auto 0;
}

.section1 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: rgb(12, 62, 212);
}
.contacts {
  margin: auto 0;
}
.email,
.phone,
.address {
  padding: 15px;
  font-size: 20px;
}
.contact-items {
  list-style: none;
}
.icon-email {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/icons/at.svg);
  width: 16px;
  height: 16px;
}
.icon-phone {
  display: inline-block;
  background-image: url(../images/icons/phone.png);
  width: 16px;
  height: 16px;
}
.icon-home {
  display: inline-block;
  background-image: url(../images/icons/home.svg);
  width: 16px;
  height: 16px;
}
.name {
  font-size: 40px;
}

.project-link {
  text-decoration: none;
}
.photo {
  display: block;
  border-radius: 50%;
  border-color: rgb(218, 181, 193);
}
.section2 {
  margin: 0 auto;
  padding: 10px 100px;
  background-color: rgb(248, 248, 93);
}
